/* *common used styles */
*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
padding: 0px;
margin: 0px;
}


/* *header */
.header-container{
    background-color:rgba(229, 84, 115, 0.10);
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    color: #272727;
font-size: 80px;
font-weight: 800;
}
header p {
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-bottom: 32px;

}
header button{
    display: inline-flex;
    color: #FFFFFF;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border: none;
border-radius: 8px;
background: #E55473;
}
.header-text{
    margin: 100px 50px;
}
/* *===================================== */

/* *main  */
/* *section 1 */
.sec1{
    margin-top: 100px;
}
.sec1 h2{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.sec1 p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
width: 50%;
margin: auto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
}
/* *================================== */
/* *section 2 */
.sec2-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin: 60px;
   gap: 20px;
}
.sec2-container img{
    padding: 30px;
    padding-bottom: 0px;
}
.sec2-item1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

    width: 400px;
height: 500px;
}
.sec2-item2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 400px;
height: 500px;
}
.sec2-item3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 400px;
height: 500px;
}
.sec2-container p{
    text-align: center;
    margin-top: 30px;
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
/* *=========================== */
/* *section 3 */
.sec3-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 30px 55px;
padding: 40px 80px;
}
.sec3-container p{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 35px;
}
/* *==================== */
/* *section 4 */
.sec4-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 550px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top: 100px;
}
.sec4-photo{
  margin: 100px;

}
.sec4-text{
    margin: 10px 100px;
}
.sec4-text h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.sec4-text p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.sec4-text button{
    border-radius: 8px;
    background: #E55473;display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFFFFF;
    border: 0px;
}
.off{
    color: #E55473;
}
/* *===================================== */
/* *section 5 */
.sec5{
    margin-top: 100px;
}
.sec5 h2{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.sec5 p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
width: 50%;
margin: auto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
margin-bottom: 50px;
}
/* *======================================= */
/* *section 6 */
.sec6-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 55px;
    margin-bottom: 100px;
    
}
.sec6-container img{
    width: 300px;
flex-shrink: 0;
}
/* *=========================== */
/* *section 7 */
.sec7-container{
height: 400px;
background-image: url("../Flower Asset/Rectangle 9.png");
background-repeat: no-repeat;
background-size: cover;
flex-shrink: 0;
margin: 55px;
text-align: center;
}
.sec7-item{
    display: inline-block;
    padding-top: 50px;
    
}
.sec7-container h2{
padding-top: 100px;
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.sec7-container p{
    padding-top: 20px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
    }
.sec7-item input{
    width: 500px;
    height: 40px;
    border: 0px;
    padding: 10px;
    border-radius: 8px;
background: #FFF;
    flex-shrink: 0;
}
.sec7-item button{
    border-radius: 8px;
    background: #E55473;width: 150px;
    height: 60px;
    flex-shrink: 0;
    border: 0px;
    color: white;
    margin-left: 5px;
}
/* *====================== */
/* *footer */
.flower{
    color: #E55473;
}
.footer{
    text-align: center;
    background-color: #111010;
}
.footer h2{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    padding-top: 100px;
}
.footer-p1{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 300px;
}
.footer-p2{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 100px;
}
/* *========================= */